<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Ricardo Salazar / Frontend Web Developer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="shortcut icon" href="images/ico.ico" type="image/x-icon" />
	<script src="lib/Chart.js"></script>
	<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

	<!--[if lt IE 9]>
	<script src="excanvas.js"></script>
	<![endif]-->
	<!-- Script com o plugin -->
	<script src="lib/doughnutit.js"></script>
	<!-- Folha de estilos -->
</head>
<body>
	<nav>
		<ul id="menu">
			
		</ul>
	</nav>
	<header class="aboutHeader">
		<figure class="avatar">
			<img src="images/avatar.jpg">
		</figure>
		<h1 class="textoBlanco"><strong>Ricardo Salazar</strong></h1>
		<h2 class="textoBlanco paddingNone">Web Developer | Frontend</h2>
	</header>
	<section class="aboutMe">
		
		<div class="bloque textoIzq licenciado">
			<h2 class="tituloSize textoGris">Licenciado en <br /><strong><span class="textoAqua">Diseño Gráfico</span></strong></h2>
			<p>
				Entusiasta de las nuevas tecnologías de desarrollo web dedicado a crear páginas e interfaces web atractivas y usables que transmiten información en forma clara y precisa. Frotend enfocado a generar, mediante frameworks tales como Backbone, jquery, AngularJS, además de procesadores de CSS, experiencias con una mejor interacción con los usuarios.
			</p>
		</div>
		<div class="bloque">
			<figure class="imgResize">
				<img src="images/lightbulb.png" alt="Ricardo Salazar| Frontend">
			<figure/>
		</div>
		
		<div class="bloque textoIzq espacio">
			<h2 class="textoRosa">Formación académica</h2>
			<ul class="textoListas">
				<li>
					<h4 class="textoVerde">Licenciatura en Diseño Grafico</h4>
					Universidad Tecnológica de México<br />
					2004-2007
				</li>
				<li>
					<h4 class="textoVerde">International Language Schools of Canada</h4>
					Media and Marketing Seminar<br />
					2008
				</li>
			</ul>
		</div>
		<div class="bloque textoIzq espacio">
			<h2 class="textoRosa">Capacitación</h2>
			<ul class="textoListas">
				<li>
					<h4 class="textoVerde">Desarrollo PHP y MySQL</h4>
					KMMX
				</li>
				<li>
					<h4 class="textoVerde">Curso Profesional de Frontend</h4>
					Mejorando.la
				</li>
				<li>
					<h4 class="textoVerde">Curso Profesional de Backend</h4>
					Mejorando.la
				</li>
				<li>
					<h4 class="textoVerde">Diplomado en Diseño y Desarrollo Web</h4>
					Master Class  
				</li>
				<li>
					<h4 class="textoVerde">Curso de AS3 básico e Intermedio</h4>
					Activ
				</li>
			</ul>
		</div>
		<div class="experiencia textoIzq">
			<h2 class="textoAqua">Experiencia profesional</h2>
			<ul>
				<li>
					<h3 class="textoRosa">Luna Rota Septiembre</h3>
					<span class="textoVerde">2010 - Junio 2014<br /></span>
					<p>
					Diseño, maquetación, en HTML5, CSS3, Jquery, y mantenimiento de páginas web para las empresas Grupo Gastronómico Galvez, EMMACSACM, enqentra, Avance Digital, Transporte Muciño, Esferita, Fontibre.
					</p>
				</li>
				<li>
					<h3 class="textoRosa">Corpcom </h3>
					<span class="textoVerde">Enero 2010 - Junio 2010</span>
					<p>
					Diseño, maquetación, en HTML5, CSS3, Jquery, y mantenimiento de páginas web para la empresa Meditips. Mantenimiento para Tierra libre.
					</p>
				</li>
				<li>
					<h3 class="textoRosa">GPO </h3>
					<span class="textoVerde">Marzo 2007 - Enero 2008</span>
					<p>
					Diseño, desarrollo y mantenimiento de páginas web para las empresas Brava interiors, Vive Diseño y Casa Studio  mediante Flash en AS2, CAD México, Love and Hate diseñados y maquetados en HTML y CSS.
					</p>
				</li>
				<li>
					<h3 class="textoRosa">Servialimentos </h3>
					<span class="textoVerde">Marzo 2007 - Enero 2008</span>
					<p>
					Diseño, desarrollo y mantenimiento de páginas web y CD interactivo Servialimentos en AS2.
					</p>
				</li>
			</ul>
		</div>
	</section>
	<header class="rosa skillsHeader">
		<h1 class="textoBlanco"><strong>Skills</strong></h1>
		<p class="textoBlanco">
			Interpretación gráfica y diseó de interacción en HTML, CSS3 y Javascript. Generación de UX mediante elementos reconocibles por los usuarios en la UI. Uso de frameworks tales como Backbone, Angular, JQuery.
		</p>
		<p class="textoBlanco">
			Manejo de Responsive Design mediante las herramientas que proporciona CSS3, tanto para la maquetación como para animaciones mediante la interactividad con el usuario. Conocimiento del patrón MVC o MV* para la estructura de información del sitio.
		</p>
	</header>
	<section class="skills textoBlanco azulGris textCenter">
		<div class="encerrado">
			<div id="mySmallDoughnut1"></div>
			<h4>HTML</h4>
		</div>
		<div class="encerrado">
			<div id="mySmallDoughnut2"></div>
			<h4>CSS</h4>
		</div>
		<div class="encerrado">
			<div id="mySmallDoughnut3"></div>
			<h4>Javascript</h4>
		</div>
		<div class="encerrado">
			<div id="mySmallDoughnut4"></div>
			<h4>Backbone</h4>
		</div>
		<div class="encerrado">
			<div id="mySmallDoughnut5"></div>
			<h4>jQuery</h4>
		</div>
		<div class="encerrado">
			<div id="mySmallDoughnut6"></div>
			<h4>PHP</h4>
		</div>
	</section>
	<section class="gallery textoBlanco azulGris textCenter">
		<div class="superbox">
			<div class="superbox-list">
				<img src="images/gallery/superbox-thumb-1.jpg" data-img="images/gallery/superbox-full-1.jpg" alt="" class="superbox-img">
				<div class="linkPortafolio azulAqua"><a class="textoBlanco" href="http://www.lunarota.com.mx/" target="_blank">www.lunarota.com.mx</a></div>
			</div><!--
			--><div class="superbox-list">
				<img src="images/gallery/superbox-thumb-2.jpg" data-img="images/gallery/superbox-full-2.jpg" alt="" class="superbox-img">
				<div class="linkPortafolio rosa"><a class="textoBlanco" href="http://www.emmacsacm.com.mx/" target="_blank">www.emmacsacm.com.mx</a></div>
			</div><!--
			--><div class="superbox-list">
				<img src="images/gallery/superbox-thumb-7.jpg" data-img="images/gallery/superbox-full-7.jpg" alt="" class="superbox-img">
				<div class="linkPortafolio verde"><a class="textoBlanco" href="http://www.grupo-galvez.com.mx/" target="_blank">www.grupo-galvez.com.mx</a></div>
			</div><!--
			--><div class="superbox-list">
				<img src="images/gallery/superbox-thumb-3.jpg" data-img="images/gallery/superbox-full-3.jpg" alt="" class="superbox-img">
				<div class="linkPortafolio amarillo"><a class="textoBlanco" href="http://enqentra.com/" target="_blank">enqentra.com</a></div>
			</div><!--
			--><div class="superbox-list">
				<img src="images/gallery/superbox-thumb-4.jpg" data-img="images/gallery/superbox-full-4.jpg" alt="" class="superbox-img">
				<div class="linkPortafolio azulAqua"><a class="textoBlanco" href="http://www.memoriasusbad.com/" target="_blank">www.memoriasusbad.com</a></div>
			</div><!--
			--><div class="superbox-list">
				<img src="images/gallery/superbox-thumb-5.jpg" data-img="images/gallery/superbox-full-5.jpg" alt="" class="superbox-img">
				<div class="linkPortafolio verde"><a class="textoBlanco" href="http://www.mucino.com/" target="_blank">www.mucino.com</a></div>
			</div><!--
			--><div class="superbox-list">
				<img src="images/gallery/superbox-thumb-6.jpg" data-img="images/gallery/superbox-full-6.jpg" alt="" class="superbox-img">
				<div class="linkPortafolio rosa"><a class="textoBlanco" href="http://www.lunarota.com.mx/" target="_blank">www.lunarota.com.mx</a></div>
			</div><!--
			--><div class="superbox-list">
				<img src="images/gallery/superbox-thumb-8.jpg" data-img="images/gallery/superbox-full-8.jpg" alt="" class="superbox-img">
				<div class="linkPortafolio amarillo"><a class="textoBlanco" href="http://digitaservicio.com/" target="_blank">digitaservicio.com</a></div>
			</div>
			<div class="superbox-float"></div>
		</div>
		
	</section>
	<header class="azulAqua headerContacto">
		<h1 class="textoBlanco contactoH">Contacto</h1>
		<ul>
			<li><a href="https://twitter.com/spaceRavager" class="icon-iconT" target="_blank"></a></li>
			<li><a href="https://plus.google.com/+RicardoSalazarPrototype/posts" class="icon-iconG" target="_blank"></a></li>
			<li><a href="http://instagram.com/spacerockerr" class="icon-iconI" target="_blank"></a></li>
			<li><a href="http://lnkd.in/b_wCj6B" class="icon-iconL" target="_blank"></a></li>
		</ul>
	</header>
	<section class="textoBlanco azulGris textCenter contacto">
		<p>
		Ricardo Salazar<br />
		Frontend developer<br />
		México, D.F.<br />
		Iztapalapa<br />
		</p>
		<p>
		Cel. 55 19179227<br />
		<a href="mailto:estadonocturno@hotmail.com" class="textoBlanco">estadonocturno@hotmail.com</a>
		</p>
	</section>

	<footer class="textCenter textoGris">
		Copyright © 2014 by Ricardo Salazar. <br />
		Developed by Ricardo Salazar.
	</footer>
	
	<script id="navTemplate" type="text/template">
		<li class="<%= classMenu %> <%= font %>"><span class="oculto"><%= name %></span></li>
	</script>

    <script type="text/javascript" src="lib/json2.js"></script>
    <script type="text/javascript" src="lib/underscore-min.js"></script>
    <script type="text/javascript" src="lib/backbone-min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/models/section.js"></script>
    <script type="text/javascript" src="js/collections/directory.js"></script>
    <script type="text/javascript" src="js/views/directoryView.js"></script>
    <script type="text/javascript" src="js/views/sectionView.js"></script>
    <script type="text/javascript" src="js/routers/menuRouter.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="lib/superbox.js"></script>
    <script>
	$( document ).ready(function() {

		
	  // Call SuperBox
			$('.superbox').SuperBox();

		var obj = {
		  1: 400,
		  2: 400,
		  3: 200,
		  4: 50,
		  5: 150,
		  6: 20
		};
		var e = 0;
		$.each( obj, function( i, val ) {
			
			var smallDoughnutData = [
				{value:val,color:"#06C996"},
				{value:100-65,color:"#3B4B56"}
			];

			$( "#mySmallDoughnut" + i ).doughnutit({
				dnData: smallDoughnutData,
			    dnSize: 130,
			    dnInnerCutout: 85,
			    dnAnimation: true,
				dnAnimationSteps: 60,
				dnAnimationEasing: 'linear',
				dnStroke: false,
				dnShowText: true,
				dnFontSize: '30px',
				dnFontOffset: 60,
				dnFontColor: "#FFF",
				dnText: '',
				dnStartAngle: 270,
				dnCounterClockwise: false,
				dnRightMargin: 10,
				dnRightCanvas: false
			});
			e++;

			var logoSpan = "<span class='icon-logo"+ i+" logoSkills'></span>";
				$( "#mySmallDoughnut" + i ).append(logoSpan);
		});
	});
	
	</script>
</body>
</html>